<mc-backend-error-messages
  *ngIf="errors"
  [backendErrors]="errors"
></mc-backend-error-messages>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-4">
  <!-- Title -->
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-book"></i></span>
    <input
      pInputText
      type="text"
      formControlName="title"
      placeholder="Article title"
      class="w-full"
    />
  </div>

  <!-- Description -->
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-align-left"></i></span>
    <input
      pInputText
      type="text"
      formControlName="description"
      placeholder="What is this article about?"
      class="w-full"
    />
  </div>

  <!-- Body -->
  <textarea
    pInputTextarea
    formControlName="body"
    rows="8"
    placeholder="Write your article (in markdown)"
    class="w-full"
  >
  </textarea>

  <!-- Tags (space-separated) -->
  <div class="p-inputgroup">
    <span class="p-inputgroup-addon"><i class="pi pi-tags"></i></span>
    <input
      pInputText
      type="text"
      formControlName="tagList"
      placeholder="Enter tags (space-separated)"
      class="w-full"
    />
  </div>

  <div class="flex justify-end">
    <button
      pButton
      type="submit"
      label="Publish article"
      class="w-full md:w-auto"
      [disabled]="form.invalid || isSubmitting"
    ></button>
  </div>
</form>
