@if (tags$$().length) {
  <div class="flex flex-wrap gap-2">
    @for (tag of tags$$(); track tag) {
      <!-- With links -->
      @if (clickable$$()) {
        <a
          class="inline-block"
          [routerLink]="[linkBase$$(), tag]"
          [attr.aria-label]="'Filter by tag ' + tag"
          >
          <p-chip [label]="tag"></p-chip>
        </a>
      } @else {
        <p-chip [label]="tag"></p-chip>
      }
      <!-- Without links -->
    }
  </div>
} @else {
  <span class="text-sm text-gray-500">No tags</span>
}
