<ng-container *ngIf="data$ | async as data">
  <div>
    <div class="container mx-auto px-4">
      <p-menubar
        [model]="[
          { label: 'Home', routerLink: '/' },
          {
            label: 'New Post',
            routerLink: '/articles/new',
            visible: !!data.currentUser
          },
          {
            label: 'Settings',
            routerLink: '/settings',
            visible: !!data.currentUser
          }
        ]"
        styleClass="menubar-plain"
      >
        <!-- Brand (left) -->
        <ng-template pTemplate="start">
          <a class="logo-font text-xl md:text-2xl mr-4" routerLink="/"
            >aurora</a
          >
        </ng-template>

        <!-- Right side: desktop nav (mirrors model) + auth/profile -->
        <ng-template pTemplate="end">
          <div class="flex items-center gap-1 md:gap-2">
            <!-- Auth/Profile -->
            <ng-container *ngIf="data.currentUser as user; else loggedOut">
              <a
                [routerLink]="['/profiles', user.username]"
                class="flex items-center pl-1"
              >
                <p-avatar
                  [image]="getUserImage(user.image)"
                  shape="circle"
                  styleClass="mr-2"
                ></p-avatar>
                <span class="hidden sm:inline">{{ user.username }}</span>
              </a>
            </ng-container>

            <ng-template #loggedOut>
              <a routerLink="/login" class="p-button p-button-text">Sign in</a>
              <a routerLink="/register" class="p-button p-button-text"
                >Sign up</a
              >
            </ng-template>
          </div>
        </ng-template>
      </p-menubar>
    </div>
  </div>
</ng-container>
