:host ::ng-deep .menubar-plain.p-menubar {
  background: transparent !important;
  border: 0 !important;
  box-shadow: none !important;
}

:host ::ng-deep .menubar-plain .p-menubar-start {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-right: 0.75rem;
  flex: 0 0 auto;
}

:host ::ng-deep .menubar-plain .p-menubar-end {
  margin-left: auto;
}
