@if (isLoading$$()) {
  <mc-loading></mc-loading>
}
@if (error$$()) {
  <mc-error-message [message]="error$$()"></mc-error-message>
}
@if (!isLoading$$() && !error$$() && safePopularTags$$().length) {
  <div>
    <div class="flex flex-wrap items-center gap-x-2 gap-y-2">
      <p class="font-medium mr-2 shrink-0">Popular Tags:</p>
      @for (popularTag of safePopularTags$$(); track popularTag) {
        <a [routerLink]="['/tag', popularTag]" class="inline-block">
          <p-chip [label]="popularTag"></p-chip>
        </a>
      }
    </div>
  </div>
}
